* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .progress-list .progressbar.line{
    height:8px;
    background-color:rgb(244, 244, 244);
  }
  body{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:16px;
  }
  header{
    background-color:rgb(255, 255, 255);
  }
  header .navbar-nav a.nav-link{
    color:rgb(119, 119, 119);
  }
  header .navbar-nav a.nav-link:hover{
    color:rgb(82, 139, 255);
  }
  header .navbar-nav .active a.nav-link{
    color:rgb(68, 68, 68);
  }
  header .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  header.bg-dark .navbar-nav a.nav-link{
    color:rgb(220, 220, 220);
  }
  header.bg-dark .navbar-nav a.nav-link:hover{
    color:rgb(82, 139, 255);
  }
  header.bg-dark .navbar-nav .active a.nav-link{
    color:rgb(255, 255, 255);
  }
  header.bg-dark .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  header + header{
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:rgb(238, 238, 238);
  }
  .c17185{
    display:none;
  }
  .logo-img{
    height:20px;
    width:90px;
  }
  .promo-block-text{
    font-size:12px;
  }
  .promo-block-img.img-responsive{
    border-radius:30px;
  }
  .c25060{
    caret-color:rgb(170, 170, 170);
    color:rgb(170, 170, 170);
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    font-size:15px;
  }
  .c25078{
    caret-color:rgb(170, 170, 170);
    color:rgb(170, 170, 170);
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    font-size:20px;
  }
  .c25087{
    caret-color:rgb(170, 170, 170);
    color:rgb(170, 170, 170);
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    font-size:20px;
  }
  .c25105{
    caret-color:rgb(170, 170, 170);
    color:rgb(170, 170, 170);
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    font-size:20px;
  }
  .c25114{
    caret-color:rgb(170, 170, 170);
    color:rgb(170, 170, 170);
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    font-size:15px;
  }
  .full-width.img-responsive{
    border-radius:20px;
  }
  .c30582{
    color:black;
    width:213px;
    height:213px;
    border-radius:30px;
  }
  .c6080{
    color:rgb(89, 89, 89);
    font-family:"Microsoft YaHei";
    font-size:9.95pt;
    caret-color:rgb(0, 0, 0);
  }
  .c6098{
    color:rgb(89, 89, 89);
    font-family:"Microsoft YaHei";
    font-size:9.95pt;
    caret-color:rgb(0, 0, 0);
  }
  .c6116{
    caret-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
  }
  .c6143{
    caret-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
  }
  .c6170{
    caret-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
  }
  .promo-block-title{
    font-size:12px;
  }
  .col-sm-6.sm-margin-b-60{
    font-size:12px;
  }
  .c7198{
    color:rgb(166, 167, 170);
    font-size:15px;
  }
  .c2333{
    font-size:9.95pt;
    font-family:"Microsoft YaHei";
    color:rgb(89, 89, 89);
  }
  .c2364{
    font-size:9.95pt;
    font-family:"Microsoft YaHei";
    color:rgb(89, 89, 89);
  }
  .c2395{
    font-size:9.95pt;
    font-family:"Microsoft YaHei";
    color:rgb(89, 89, 89);
  }
  .c5566{
    padding:10px;
  }